<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input type="text" name="name">
        <input type="text" name="school">
        <button type="submit">create student</button>
    </form>
<p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio cumque harum non id, odio in laudantium fugiat omnis, error quisquam quasi eos necessitatibus quis minima nostrum quo autem? Quis, perspiciatis!
    </p>
</body>
</html>
