<html>
<head><title>Students</title></head>
<link rel="stylesheet" href="/style.css">
<body>
<h1>Students</h1>
<ul>
<p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio cumque harum non id, odio in laudantium fugiat omnis, error quisquam quasi eos necessitatibus quis minima nostrum quo autem? Quis, perspiciatis!
    </p>
<% students.forEach(function(student) { %>
<li><%= student.name %> | <%= student.school %></li>
<%})%>
</ul>
<button id="test">Click coucou</button>
<script type="text/javascript" src= "students.js">
</script>
</body>
</html>

